@import '../../../../Styles/settings.scss';

.container {
    position: absolute;
    top: 30px;
    left: 240px;
    width: calc(100vw - 270px);
    min-height: 500px;
    display: flex;
}


.properties {
    width: 100%;
}