$color-white: hsl(0, 0%, 94%);
$color-light-grey: hsla(67, 14%, 95%, 1);
$color-green-main:hsla(165, 94%, 35%, 1);
$color-green-main-light:hsla(165, 94%, 55%, 1);
$color-red-main:hsla(350, 97%, 56%, 1);
$color-red-main-light:hsla(345, 97%, 63%, 1);


// $color-folly:hsla(353, 99%, 63%, 1);
// $color-salamon: hsla(10, 99%, 72%, 1);
// $color-tropical-indygo:hsla(237, 63%, 71%, 1);
// $color-english-violet:hsla(247, 18%, 29%, 1);

$text-color: $color-white;
$font-text: 'Poppins',
sans-serif;

$radius: 10px;
$radius-big: calc($radius * 2);
$base-size: 16px;
$transition: all 0.25s ease-in;